<div class="disclaimer">
    <h2>_disclaimer</h2>
    <h6>Why I use Harvard SEAS Logo?</h6>
    <small class="text-muted">
        I am not a student or staff at Harvard University nor in the School of Engineering and Applied Sciences.
        <br />
        I use the logo because I want to study at Harvard one day, and I think the logo here is like a symbol that everytime I see it, I will think that I should behave like a Harvard Student.
        <br />
        Everytime I see the Logo, triat, quality.
    </small>
</div>